<!-- FOOTER -->
<div>
  <div class="footer">
    <div class="footer-element footer-icon <%= 'active' if current_page?('/donations') %>">
      <%= link_to donations_path do %>
        <%= cl_image_tag "iconefooter/home.svg" %>
      <% end %>
    </div>
    <div class="footer-element footer-icon <%= 'active' if current_page?('/receiver/donations') %>">
      <%= link_to receiver_donations_path do %>
        <%= cl_image_tag "iconefooter/panier.svg" %>
      <% end %>
    </div>
    <div class="footer-element">
      <%= link_to new_relationship_path do %>
        <%= cl_image_tag "iconefooter/add-friends.svg" %>
      <% end %>
    </div>
    <div class="footer-element footer-icon <%= 'active' if current_page?('/profile') %>">
      <%= link_to(profile_path) do %>
        <%= cl_image_tag "iconefooter/user.svg" %>
      <% end %>
    </div>
    <div class="footer-element footer-icon <%= 'active' if current_page?('/relationships') %>">
      <%= link_to relationships_path do %>
        <%= cl_image_tag "iconefooter/contact.svg" %>
      <% end %>
    </div>
  </div>
</div>
