<div class="container">
  <div class= "row ">
    <div class="col-12 card">

          <div class="card-avatar">
            <div class="avatar">
              <img src="https://via.placeholder.com/64">
            </div>
          </div>

          <div class="card-content">
            <div class="row-card-content" id="first-row">
              <div class="card-content-deadline">
                <p><%= image_tag "iconecard/horloge.svg" %>&nbsp;&nbsp;20/11/2019</p>
              </div>
              <div class="card-content-voiture">
                <%= image_tag "iconecard/car.svg" %>
              </div>
            </div>
            <div class="row-card-content" id="second-row">
              <div class="card-content-username">
                <p>Daphnee</p>
              </div>
              <div class="card-content-categories">
                <div class="card-content-category inactive"><%= image_tag "iconecard/meatfish.svg" %></div>
                <div class="card-content-category inactive"><%= image_tag "iconecard/brevage.svg" %></div>
                <div class="card-content-category inactive"><%= image_tag "iconecard/dairies.svg"%></div>
                <div class="card-content-category active"><%= image_tag "iconecard/vegetables.svg"%></div>
              </div>
            </div>
          </div>
    </div>
  </div>

  <div class= "row accordeon" style="display:none;">
    <div class="accordeon-content col-12" >
      3 citrons, 1 saumon, 5 tomates, 2 avocats 
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-accordeon">Je Prends</button>
  </div>


  <div class= "row accordeon" style="display:none;" >
    <div class="accordeon-content col-7">
      3 citrons, 1 saumon, 5 tomates, 2 avocats 
    </div>
    <div class ="accordeon-image col-5">
      <img src="https://via.placeholder.com/100">
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-accordeon">Je Prends</button>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="col-12 card spoiler-trigger" data-toggle="collapse">

            <div class="card-avatar">
              <div class="avatar">
                <img src="https://via.placeholder.com/64">
              </div>
            </div>


            <div class="card-content">
              <div class="row-card-content" id="first-row">
                <div class="card-content-deadline">
                  <p><%= image_tag "iconecard/horloge.svg" %>&nbsp;&nbsp;20/11/2019</p>
                </div>
                <div class="card-content-voiture">
                  <%= image_tag "iconecard/car.svg" %>
                </div>
              </div>
              <div class="row-card-content" id="second-row">
                <div class="card-content-username">
                  <p>Daphnee</p>
                </div>
                <div class="card-content-categories">
                  <div class="card-content-category inactive"><%= image_tag "iconecard/meatfish.svg" %></div>
                  <div class="card-content-category inactive"><%= image_tag "iconecard/brevage.svg" %></div>
                  <div class="card-content-category inactive"><%= image_tag "iconecard/dairies.svg"%></div>
                  <div class="card-content-category active"><%= image_tag "iconecard/vegetables.svg"%></div>
                </div>
              </div>
            </div>
      </div>
    </div>
    <div class="panel-collapse collapse out">
      <div class="panel-body">
        <div class= "row accordeon" >
          <div class="accordeon-content col-7">
            3 citrons, 1 saumon, 5 tomates, 2 avocats 
          </div>
            <div class ="accordeon-image col-5">
              <img src="https://via.placeholder.com/100">
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-accordeon">Je Prends</button>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="col-12 card spoiler-trigger" data-toggle="collapse">

            <div class="card-avatar">
              <div class="avatar">
                <img src="https://via.placeholder.com/64">
              </div>
            </div>


            <div class="card-content">
              <div class="row-card-content" id="first-row">
                <div class="card-content-deadline">
                  <p><%= image_tag "iconecard/horloge.svg" %>&nbsp;&nbsp;20/11/2019</p>
                </div>
                <div class="card-content-voiture">
                  <%= image_tag "iconecard/car.svg" %>
                </div>
              </div>
              <div class="row-card-content" id="second-row">
                <div class="card-content-username">
                  <p>Daphnee</p>
                </div>
                <div class="card-content-categories">
                  <div class="card-content-category inactive"><%= image_tag "iconecard/meatfish.svg" %></div>
                  <div class="card-content-category inactive"><%= image_tag "iconecard/brevage.svg" %></div>
                  <div class="card-content-category inactive"><%= image_tag "iconecard/dairies.svg"%></div>
                  <div class="card-content-category active"><%= image_tag "iconecard/vegetables.svg"%></div>
                </div>
              </div>
            </div>
      </div>
    </div>
    <div class="panel-collapse collapse out">
      <div class="panel-body">
        <div class= "row accordeon"" >
          <div class="accordeon-content col-7">
            3 citrons, 1 saumon, 5 tomates, 2 avocats 
          </div>
            <div class ="accordeon-image col-5">
              <img src="https://via.placeholder.com/100">
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-accordeon">Je Prends</button>
        </div>
      </div>
    </div>
  </div>

<div class="footer">
  <div class="footer-element"><%= image_tag "iconefooter/home.svg" %>
  </div>
  <div class="footer-element"><%= image_tag "iconefooter/panier.svg" %>
  </div>
  <div class="footer-element"><%= image_tag "iconefooter/signeplus.svg", data: { toggle: "modal", target: "#exampleModal" } %>
  </div>
  <div class="footer-element"><%= image_tag "iconefooter/user.svg" %>
  </div>
  <div class="footer-element"><%= image_tag "iconefooter/contact.svg" %>
  </div>
</div>

<!-- formulaire nouveau don -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= simple_form_for [:giver, @donation] do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nouveau don</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.input :deadline %>
          <%= f.input :pick_up %>
          <%= f.input :description %>
          <label for="meat and fish">meat and fish</label>
          <input id="meat and fish" type="checkbox" name="donation[categories][]" value="meat and fish" />

          <label for="drinks">drinks</label>
          <input id="drinks" type="checkbox" name="donation[categories][]" value="drinks" />

          <label for="dairy and eggs">dairy and eggs</label>
          <input id="dairy and eggs" type="checkbox" name="donation[categories][]" value="dairy and eggs" />

          <label for="fruits and vegetables">fruits and vegetables</label>
          <input id="fruits and vegetables" type="checkbox" name="donation[categories][]" value="fruits and vegetables" />
          <%= f.input :photo %>


          <div id="bodycheckbox">
            <input type="checkbox" class="toggle1" />
          </div>
          <div class="btn-group" role="group" a<div class="panel panel-default">
    <div class="panel-heading">
      <div class="col-12 card spoiler-trigger" data-toggle="collapse">

            <div class="card-avatar">
              <div class="avatar">
                <img src="https://via.placeholder.com/64">
              </div>
            </div>


            <div class="card-content">
              <div class="row-card-content" id="first-row">
                <div class="card-content-deadline">
                  <p><%= image_tag "iconecard/horloge.svg" %>&nbsp;&nbsp;20/11/2019</p>
                </div>
                <div class="card-content-voiture">
                  <%= image_tag "iconecard/car.svg" %>
                </div>
              </div>
              <div class="row-card-content" id="second-row">
                <div class="card-content-username">
                  <p>Daphnee</p>
                </div>
                <div class="card-content-categories">
                  <div class="card-content-category inactive"><%= image_tag "iconecard/meatfish.svg" %></div>
                  <div class="card-content-category inactive"><%= image_tag "iconecard/brevage.svg" %></div>
                  <div class="card-content-category inactive"><%= image_tag "iconecard/dairies.svg"%></div>
                  <div class="card-content-category active"><%= image_tag "iconecard/vegetables.svg"%></div>
                </div>
              </div>
            </div>
      </div>
    </div>
    <div class="panel-collapse collapse out">
      <div class="panel-body">
        <div class= "row accordeon"" >
          <div class="accordeon-content col-7">
            3 citrons, 1 saumon, 5 tomates, 2 avocats 
          </div>
            <div class ="accordeon-image col-5">
              <img src="https://via.placeholder.com/100">
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-accordeon">Je Prends</button>
        </div>
      </div>
    </div>
  </div>ria-label="Basic example">
          <div>
            <button type="button" class="btn btn-secondary card-content-category active"
            ><%= image_tag "iconecard/dairies.svg" %></button>
          </div>
          <div>
            <button type="button" class="btn btn-secondary card-content-category inactive"
            ><%= image_tag "iconecard/meatfish.svg" %></button>
          </div>
          <div>
            <button type="button" class="btn btn-secondary card-content-category inactive"
            ><%= image_tag "iconecard/brevage.svg" %></button>
          </div>
          <div>
            <button type="button" class="btn btn-secondary card-content-category inactive"
            ><%= image_tag "iconecard/vegetables.svg" %></button>
          </div>
        </div>

        </div>

        <div class="modal-footer">
          <div class="footer">
            <div class="footer-element"><%= image_tag "iconefooter/home.svg" %>
            </div>
            <div class="footer-element"><%= image_tag "iconefooter/panier.svg" %>
            </div>

            <div class="footer-element" >
              <%= image_tag "iconecard/green_validate_fat.svg", id: "btn-submit-donation" %>
            </div>


            <div class="footer-element"><%= image_tag "iconefooter/user.svg" %>
            </div>
            <div class="footer-element"><%= image_tag "iconefooter/contact.svg" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
